[Unit]
Description=RClone Google Drive mount
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'exec ~/.local/bin/rclone-gdrive.sh'
Restart=no

[Install]
WantedBy=default.target
